# Synthea generated data (too big for GitHub)
synthea/output/
synthea/*.jar

# Python
__pycache__/
*.pyc
venv/
.venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# Tableau temp/lock files
*.twbr
.~*

# R history (unused)
*.Rhistory
.Rhistory

# Bulky intermediate data (too big, can be regenerated)
tableau_data/encounters.csv
tableau_data/patients.csv

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
